In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('./data/train.csv')

In [3]:
data.head()

,id,N_Days,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage,Status
0,0,3850.0,D-penicillamine,17841.0,M,N,N,N,N,1.8,NaN,3.70,33.0,1268.0,99.00,NaN,338.0,10.2,3.0,D
1,1,2157.0,Placebo,15628.0,F,N,N,N,N,0.5,303.0,4.09,11.0,657.0,77.50,80.0,309.0,9.9,3.0,C
2,2,4427.0,Placebo,20392.0,F,N,N,N,N,0.8,NaN,3.60,13.0,10396.8,128.65,NaN,164.0,11.0,2.0,C
3,3,2149.0,NaN,13514.0,F,NaN,NaN,NaN,N,0.6,NaN,4.19,NaN,NaN,NaN,NaN,248.0,10.5,2.0,C
4,4,2202.0,NaN,23741.0,F,NaN,NaN,NaN,N,0.6,NaN,3.14,NaN,NaN,NaN,NaN,76.0,10.3,4.0,C

In [4]:
data.dropna().shape[0]/data.shape[0]

0.4238

In [5]:
data = data.dropna()

In [6]:
# data[''].unique()

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6357 entries, 1 to 14999
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             6357 non-null   int64
 1   N_Days         6357 non-null   float64
 2   Drug           6357 non-null   object
 3   Age            6357 non-null   float64
 4   Sex            6357 non-null   object
 5   Ascites        6357 non-null   object
 6   Hepatomegaly   6357 non-null   object
 7   Spiders        6357 non-null   object
 8   Edema          6357 non-null   object
 9   Bilirubin      6357 non-null   float64
 10  Cholesterol    6357 non-null   float64
 11  Albumin        6357 non-null   float64
 12  Copper         6357 non-null   float64
 13  Alk_Phos       6357 non-null   float64
 14  SGOT           6357 non-null   float64
 15  Tryglicerides  6357 non-null   float64
 16  Platelets      6357 non-null   float64
 17  Prothrombin    6357 non-null   float64
 18  Stage          6357 non-null   float64
 19  Status         6357 non-null   object
dtypes: float64(12), int64(1), object(7)
memory usage: 1.0+ MB

In [8]:
data.isna().sum()

id               0
N_Days           0
Drug             0
Age              0
Sex              0
Ascites          0
Hepatomegaly     0
Spiders          0
Edema            0
Bilirubin        0
Cholesterol      0
Albumin          0
Copper           0
Alk_Phos         0
SGOT             0
Tryglicerides    0
Platelets        0
Prothrombin      0
Stage            0
Status           0
dtype: int64

In [9]:
data['N_Days']

1        2157.0
13       4523.0
14       1945.0
16       2178.0
17       2443.0
          ...
14992    3445.0
14993    1295.0
14995     549.0
14997    1083.0
14999    2689.0
Name: N_Days, Length: 6357, dtype: float64

In [10]:
X = data.dropna().drop(columns=['Drug', 'Hepatomegaly', 'Spiders', 'Edema', 'Sex', 'Ascites', 'Status'])
y = data.dropna()['Status']

In [11]:
from sklearn.svm import SVC
from sklearn.preprocessing import OneHotEncoder as OHE, LabelEncoder as LE

In [12]:
ohe = OHE().fit_transform(data.dropna()[['Drug', 'Hepatomegaly', 'Spiders', 'Edema', 'Sex', 'Ascites']].values).toarray()
le = LE().fit_transform(y)

In [13]:
X = np.column_stack([X, ohe])

In [14]:
xtrain, xtest, ytrain, ytest = train_test_split(X, y, train_size=0.25, stratify=y)

In [15]:
model = SVC().fit(xtrain, ytrain)

In [16]:
from sklearn.metrics import accuracy_score, precision_score, recall_score

print(accuracy_score(ytrain, model.predict(xtrain)))
print(accuracy_score(ytest, model.predict(xtest)))

0.7111390811831341
0.7135067114093959

In [17]:
data['Status'].value_counts()

Status
C     4432
D     1732
CL     193
Name: count, dtype: int64